@media screen and (max-width: 621px) {
  #header {
    display: block;
    position: absolute;
  }

  #header a {
    float: none;
    display: block;
    text-align: center;
  }

  #nav-bar {
    float: none;
    display: block;
    margin-top: 1rem;
  }

  .logo-container {
    max-width: 100%;
    justify-content: center;
  }

  #video {
    max-width: 90%;
    margin-top: 20rem;
  }

  .form-container p {
    padding: 2rem;
    margin-bottom: 0;
  }

  #email {
    max-width: 340px;
  }

  #product-info {
    max-width: 80%;
    margin: 60px auto;
  }

  #product-info i {
    margin-right: 1.5rem;
  }

  #price-container {
    display: block;
  }
  #price-container article {
    width: 90%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 520px) {
  #email {
    width: calc(100% / 2);
  }
}
